#cometa {
    position: absolute; /* Ahora relativo a #universo */
    width: 40px;  /* Área grande para facilitar el click */
    height: 40px;
    z-index: 50; /* Siempre por encima de todo */
    cursor: pointer;
    display: none;
    pointer-events: auto; /* Asegura que capture el click */
    transition: none;
}

#cometa::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: linear-gradient(to left, white, transparent);
    right: 2px;
    top: 1px;
    transform-origin: right;
}

#modal-cometa {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; max-width: 400px;
    background: rgba(8, 8, 20, 0.98);
    border: 2px solid var(--color-primario);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 1000;
    backdrop-filter: blur(15px);
}

.modal-espacial-borde {
    border: 2px solid cadetblue !important;
    border-radius: 20px !important;
    backdrop-filter: blur(10px);
}